/** Lets declare some SASS variables */
$page-width: 920px;

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
	width: $page-width;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
	color: #000; 
	&:visited { 
		color: #666; 
	}
	&:hover { 
		color: #fff; background-color:#000; 
	}
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}


#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
	h2 {
  	text-align: left;
  	font-weight: bold;
  	padding: 5px 5px 5px 15px;
  	font-size: 12px;
  	margin: -7px;
  	background-color: #c00;
  	color: #fff;
	}

	p {
  	color: #333;
  	margin-bottom: 0;
  	padding: 5px;
	}

	ul li {
  	font-size: 12px;
  	list-style: square;
	}
}

/*
 Start of my custom styles
*/

.header {
    width: 900px;
    margin: 0px auto 15px;
}

h1 {
    margin: 0px;
}

.tagline {
    padding: 0px;
    margin: 0px auto;
}

.toolbar {
		ul {
	    list-style-type: none;
	    margin: 0px;
	    padding: 0px;
		}

		li {
	    display: inline;
	    padding: 10px;
		}  

		a {
	    text-decoration: none;
			&:hover {
    		text-decoration: underline;
   			background: none;
   		 	color: #000;
			}
		}
}

table.articles {
    width: $page-width;
		a:hover {
			background: none;
			text-decoration: underline;
		}

		th, td {
			padding: 4px;
		}
		
		th {
			color: #fff;
			background: #2e3784;
		}

		.row1 {
			background: #fff;
		}

		.row2 {
			background :#d5d7f1;
		}

		.tools {
			background: #fff;
			width: 30px;
		}

}

.tableWrapper {
    width: $page-width;
}

.byline h2 {
    display: inline;
    margin-right: 30px;
}
